<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue.js 3 Basics</title>
    <link rel="stylesheet" href="main.css" />
  </head>
  <body>
    <div id="app" v-cloak>
      <div class="container">
        <login-form />
      </div>
    </div>

    <script src="https://unpkg.com/vue@3"></script>
    <script>
      let app = Vue.createApp({});

      app.component('login-form', {
        template: `
          <form @submit.prevent="handleSubmit">
            <h2>Login Form</h2>
            <custom-input
              v-for="(input, i) in inputs"
              :key="i"
              v-model="input.value"
              :label="input.label"
              :type="input.type"
              :placeholder="input.label"
            />

            <button>Log in</button>
          </form>
        `,

        components: ['custom-input'],

        data() {
          return {
            inputs: [
              {
                label: 'E-Mail',
                type: 'email',
                value: '',
              },
              {
                label: 'Password',
                type: 'password',
                value: '',
              },
            ],
          };
        },

        methods: {
          handleSubmit() {
            console.log(this.inputs[0].value, this.inputs[1].value);
          },
        },
      });

      app.component('custom-input', {
        template: `
          <label>
            <p>{{ label }}</p>
            <input :type="type" v-model="inputValue" :placeholder="label" />  
          </label>
        `,

        props: ['label', 'type', 'modelValue'],

        computed: {
          inputValue: {
            get() {
              return this.modelValue;
            },
            set(value) {
              return this.$emit('update:modelValue', value);
            },
          },
        },
      });

      app.mount('#app');
    </script>
  </body>
</html>
